body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(236, 193, 230, 0.829);
}

header{
    font-size: 50px;
    background-color: rgba(229, 158, 218, 0.829);
    padding: 20px;
}

.navbar {
    background-color: rgb(194, 84, 194);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.formulario {
    width: 50%;
    text-align: center;
}

.imagens {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagens img {
    width: 250px;
}

.a{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 300px;
    display: inline-table;
}

.button{
    align-items: center;
}

.centralizar{
    text-align: center;
}

.red {
    padding-right: 80px;
    justify-content: center;
    align-items: center;
}

.green {
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}